body {
display : flex;
align-items : center;
justify-content: center;
height : 100vh;


}

.container{
    width: 400px;
}

.times{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    font-size: 30px;
    color: blue;
    margin-right: 20px;
}

.bar {
    width: 100%;
}

.image {
    width: 100%;
}

.progress{
    margin-bottom: 20px;
}
.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
